# PostgreSQL details
TEST_DB=offshorev2
POSTGRES_DB=offshore
POSTGRES_USER=offshore
POSTGRES_HOST=if_offshore_db
POSTGRES_PORT=15432

POSTGRES_PASSWORD=G589cdc227bR
PGPASSWORD=$POSTGRES_PASSWORD

POSTGRES_COMMAND="postgres
-c config_file=/etc/postgresql.conf"

# Web app
WEB_APP_PORT=18008
